* {
    overflow-x: hidden;
}

.link:hover{
    cursor: pointer;
    color: white;
    padding: 2%;
    background-color: green;
}

#form{
    border: 2px solid rgb(66, 207, 35);
    border-radius: 30px;
    height: 5vh;
    width: 30vw;
    padding: 10px;
    margin:0% 0% 10% 5%;
}